
.new {
    width: 300px;
    margin: 5px;
    overflow: hidden;
}
.product {
    width: 300px;
    overflow: hidden;
}
.button {
    width: 100%;
}
.product img {
    transition: all .5s ease;
}
.product img:hover {
    filter: brightness(0.7);
}
.product img:hover ~ .buy-button{
    visibility: visible;
    opacity: 1;
    transform: translateY(-48px);
    z-index: 100;


}
.buy-button:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50px);
    z-index: 100;


}
@media only screen and (max-width: 600px) {
    .new {
        width: 200px;
    
    }
}
@media only screen and (min-width: 992px) {
    .new {
        width: 400px;
    
    }
}
@media only screen and (max-width: 769px) {
    .new {
        width: 250px;
    
    }
}
@media only screen and (max-width: 523px) {
    .new {
        width: 180px;
    
    }
}
@media only screen and (max-width: 381px) {
    .new {
        width: 150px;
    
    }
}
@keyframes zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
/* opacity 0 visibility hidden */