
.new {
    width: 300px;
    margin: 5px;
    overflow: hidden;
}
.card-img {
    transition: transform .75s ease;
}
.card-img:hover {
    transform: scale(1.1);

}
@media only screen and (max-width: 600px) {
    .new {
        width: 200px;
    
    }
}
@media only screen and (min-width: 992px) {
    .new {
        width: 400px;
    
    }
}
@media only screen and (max-width: 769px) {
    .new {
        width: 250px;
    
    }
}
@media only screen and (max-width: 523px) {
    .new {
        width: 180px;
    
    }
}
@media only screen and (max-width: 381px) {
    .new {
        width: 150px;
    
    }
}
@keyframes zoom{
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}
/* opacity 0 visibility hidden */