.product {
    width: 300px;
    margin: 5px;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .product {
        width: 200px;
    
    }
}
@media only screen and (min-width: 992px) {
    .product {
        width: 400px;
    
    }
}