.product {
    width: 300px;
    margin: 5px;
    overflow: hidden;
    z-index: 1;

}
.buy-button {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    z-index: 100;
    height: 30px;
} 
.btn-dark {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .product {
        width: 200px;
    
    }
}
@media only screen and (min-width: 992px) {
    .product {
        width: 400px;
    
    }
}
@media only screen and (max-width: 769px) {
    .product {
        width: 250px;
    
    }
}
@media only screen and (max-width: 523px) {
    .product {
        width: 180px;
    
    }
}
@media only screen and (max-width: 381px) {
    .product {
        width: 150px;
    
    }
}
